*{
    box-sizing: border-box;
}


body{
    background: #FFFD19;
    background: -moz-linear-gradient(top, #FFFD19 0%, #AEA614 49%, #E7E768 100%);
    background: -webkit-linear-gradient(top, #FFFD19 0%, #AEA614 49%, #E7E768 100%);
    background: linear-gradient(to bottom, #FFFD19 0%, #AEA614 49%, #E7E768 100%);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    height: 100vh;
}

.content{
    background-color: #55ee2b;
    border-radius: 30%;
    overflow: hidden;
    width: 600px;
    height: 600px;
    max-width: 80vw;
    max-height: 80vh;
}

.emoji{
    font-weight: bold;
}

h2{
    font-size: 3rem;
    text-align: center;

}

.section{
    text-align: center;
   
}

.btn{
    font-size: 10rem;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    padding: 10px;
    background-color: #55ee2b;
    width: 100%;
    height: 100%;
    overflow: hidden;
    white-space: normal;
    

}

p{
    font-size: 3rem;
    padding: 5px;
    margin: 5px;
}

@keyframes jumpIn {
  0% {
    transform: scale(0.5) translateY(-50px);
    opacity: 0;
  }
  60% {
    transform: scale(1.1) translateY(10px);
    opacity: 1;
  }
  100% {
    transform: scale(1) translateY(0);
  }
}

#alertC {
  position: fixed;
  inset: 0; 
  margin: auto; 
  width: max-content;
  height: max-content;
  background-color: rgb(243, 150, 0);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  text-align: center;
  display: none;
  animation: jumpIn 0.5s ease forwards;
}

#alertC button{
    font-size: 3rem;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
    border-radius: 10px;


}

#alertC.show {
  display: block;
  animation: jumpIn 0.5s ease forwards;
}

#backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
    display: none;
}